.Background {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Background-image {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}

.Background-cover {
  background-color: rgb(81, 81, 83);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
