@import url('https://fonts.googleapis.com/css?family=Marck+Script');

.HomePage {
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.HomePage-hey {
  font: italic 26px/1.45 Helvetica;
  margin-left: -440px;
}

.HomePage-name {
  font: 700 64px/1.2 Helvetica;
}

.HomePage-tagline {
  font: normal 32px 'Marck Script', cursive;
  margin-top: 50px;
  margin-left: -100px;
}

.HomePage-soon {
  font: normal 32px 'Marck Script', cursive;
  margin-top: 10px;
  margin-left: 350px;
}
