.ProjectsPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Project {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  margin: 10px;
  border: 2px solid rgba(256, 256, 256, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.Project:hover {
  background-color: rgba(256, 256, 256, 0.1);
}

.Project-link {
  color: inherit;
  text-decoration: inherit;
}
